@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.inner-header {
    background-color: rgb(12, 0, 49);
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 20px;
    border-bottom: 2px solid grey;
    line-height: 36px;
    margin-bottom: 5px;
}

.logo-container{
    float: left;
    display: block;
    color: white;
    padding: 2px 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation{
    float: right;
    height: 100%;
    padding: 2px;
}
 
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
    color: rgb(198, 146, 248);
}
 
.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
 
.navigation a:visited{
    color: rgb(202, 182, 221);
    text-decoration: none;
    text-shadow: 1px;
}
 
.navigation a:hover{
    background-color: rgb(50, 24, 130);
    color: rgb(186, 186, 186);
    text-decoration: none;
    border-radius: 5px;
}

.content {    
    padding: 5px;
    display: table;
    float: left;
    width: 100%;
    text-align: center;
}


.general {
    display: inline-block;
    width: 80%;
    text-align: left;
}

.general img {
    display: block;
    float: left;
    margin: 5px;
}

.footer {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    float: left;
    width: 100%;
    background-color: #333;
    color: white;
}